<div app-menu class="nav">

<div class="taskIcon item" (click)="logout()">
    <img src="assets/images/logout.png">
    <p>Logout</p>
</div>

<div id="newProjectFrame" class="taskIcon item" data-cy="openNewProjectButton"
 *ngIf="isManager()" (click)="openNewProjectFrame()"> 
    <img src="assets/images/add.png">
    <p>New Project</p>
</div>

<div class="taskIcon item" *ngIf="isManager()" (click)="openUserManager()"> 
    <img src="assets/images/user.png">
    <p>User Manager</p>
</div>

</div>

<app-new-project class="advx" [frameOpen]="newProjectFrameIsOpen">
    
</app-new-project>