

<section class="hi2">
  <form class="newProject" [formGroup]="task" (ngSubmit)='onSubmit()'>
    <div class="headerNewP">
        <p class="tittle">Opdracht maken</p>
  
    </div>
    <div class="contentDiv firstPane">
    <input matInput placeholder="Opdracht Naam"
    aria-label="name"
    class="inputTaskFrame"
    type="text" #newtaskname formControlName="name"
    data-cy="taskName"
    required
    />
    <p class="formErr"
    *ngIf="task.get('name')['errors'] && 
      task.get('name').touched"
  >
        Is Required
    </p>
    </div>
    <div class="secondPane">  
        <div class="contentDiv">
            <div class="list">
            <p class="listT" >Opdracht voor</p>
            <p class="formErr"
            *ngIf="validationErrorExists()"
          >
                Is Required
            </p>
            <div  *ngIf="employees" class="workersLayer">
                <div class="worker" data-cy="workerToAddToTask" *ngFor="let worker of employees" (click)="employeeSelected(worker,htmlofworker)" #htmlofworker>
                    <img *ngIf="worker.gender === 'Man'; else elseBlock" src="/assets/images/icons8-male-user-50.png">
                    <ng-template #elseBlock>  <img #elseBlock src="/assets/images/icons8-female-profile-50.png"></ng-template>
                    <p>{{worker.name}}</p>
                    <p class="workerid" >{{worker.id}}</p>
                </div>      
            </div>
            </div>
            <div class="btns">
                <button id="addPButton"
                 type="submit" mat-raised-button data-cy="submitTask">
                    Maak
                </button>
                <p id="closeButton2" class="closeB" (click)="closeNewTaskFrame()"  >
                    Annuleren
                </p>

            </div>
           
        </div>
      
    </div>
</form>

</section>
