<div class="overlay">
    <div class="userManager">
        <div class="header">
            <div class="intro">
                <img src="assets/images/userManager.png" id="toolLogo">
                <h2>User Manager</h2>
            </div>
            <div class="search">
                <input type="text" placeholder="Search..">
                <img src="assets/images/searchUser.png">
            </div>
            <div id="typeContainer" class="userType" (click)="openTypeFilter()">
                <img class="expandbot" src="assets/images/expandbot.png">
                <div id="userType" class="container">
                    <p>All Types</p>
                    <p class="boxHidden">Manager</p>
                    <p class="boxHidden">Employee</p>
                </div>
            </div>
            <div class="sortUsers">

            </div>
        </div>
    </div>
</div>