/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #43BF89;
    border-radius: 10px;
  }
.hi{
    background: rgba(87, 85, 85, 0);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 101;
    display: none;
    top: 5%;
}
    .newProject{
    height: 70vh;
    width: 20%;
    margin-left: -13%;
    margin-top: -40vh;
    background: rgb(113,216,105);
    background: linear-gradient(120deg, rgba(113,216,105,1) 0%, rgba(78,197,130,1) 45%, rgba(40,177,158,1) 100%);
        overflow: hidden;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    font-family: 'Comfortaa', cursive;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.tittle{
    font-size: 1em;
}

.firstPane{
    font-family: 'Comfortaa', cursive;
    background: white;
    width: 100%;
    height: 25%;
    margin: auto auto 0% auto;
    display: flex;
    flex-direction: column;
}
.inputLabels{
    color: 	#302f2f;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 4% 0 0 2%;
    font-weight: 700;

}

.tittle{
    font-size: 1.3em;
    display: block;
    margin: 7% 0 auto 2% ;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.firstPane input{
    width: 45%;
    background: rgba(21, 22, 26, 0);
    border: 0px;
    height: 30%;
    width: 85%;
    margin: 5% auto 0 auto;
    border-radius: 3px;
    border-bottom: 2px solid #4CAF50;
    font-size: 1em;
    text-transform: uppercase;
}
.firstPane input::placeholder{
    color: rgb(0, 0, 0);
    text-transform: none;
    font-size: 1em;
    font-family: 'Comfortaa', cursive;


}
*:focus {
    outline: none;
}

 .secondPane button{
    width: 25%;
    margin: auto 0 auto 7%;
    color: white;
    border: 0;
    font-size: 1em;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    line-height: 1.2em;
    font-family: 'Comfortaa', cursive;
    background: #4CAF50;
    border: 2px solid #4CAF50;
    padding-top: 5px;
    padding-bottom: 5px;
}

.secondPane button:hover{
        background: rgb(255, 255, 255);
        color: #344B47;
        border: 2px solid #344B47;
        transition-duration: 0.5s;
        cursor: pointer;
    }
.secondPane{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80%;
    margin: auto auto auto auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    overflow: hidden;
}

.secondPane .contentDiv{
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}


.contentDiv{
    
}

.headerNewP{
    margin-top: 1%;
    height: 20%;
    width: 100%;
   

}

.list{
    height: 70%;
    margin-bottom: 10%;

}
.listT{
margin-left: 7%;
font-size: 1em;
color: black;

}

.workersLayer{
    border: 2px solid #4CAF50;
    height: 90%;
    width: 86%;
    margin: auto auto auto auto;
    overflow-y: scroll;
}
.worker{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin: 1% 0 0 0;
    background: rgba(190, 189, 189, 0.137);
}
.worker img{
    margin: 1% 0 1% 2%;
    user-select: none;
}

.worker p{
    margin: auto 0 auto 2%;
    user-select: none;

}

.worker:hover{
    transition-duration: 0.5s;
    cursor: pointer;
    background: rgba(190, 189, 189, 0.336);
}
.close{
    background: white;
    position: absolute;
    top: 3%;
    right: 3%;
    width: 5%;
    height: 1%;
    border-radius: 5px;
}
.btns{
    display: flex;
    
}
#closeButton{
    background: rgba(255, 255, 255, 0);
    color: #9BB0A4;
    border: 2px solid #9BB0A4;
    margin-left: auto;
    margin-right: 7%;
    margin-top: 0;
}
#closeButton:hover{
    transition-duration: 0.5s;
    background: #9BB0A4;
    color: white;
}
.selectedEmplys{
    display: none;
}
.workerid{
    display: none;
}

body{
    background: rgb(68, 235, 110);
  }
  .confirmation{
    position: fixed;
    right: -1%;
    top: 10%;
    height: 40px;
    padding: 5px;
    width: 0%;
    display: none;
    font-size: 1.2em;
    background: #28B19E;
    color: white;
    transition-duration: 1s;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    overflow: hidden;
  }
  .confirmation p {
      margin: auto 0 auto 0;
      font-family: 'Comfortaa', cursive;

  }
  .confirmation img{
    width: 35px;
    height: 35px;
    padding: 0;
    margin: auto auto auto auto;
    display: block;
  
  }
  .confirmation div{
    background: rgba(255, 255, 255, 0);
    margin-right: 2%;
  }

  .error{
    transition-duration: 1s;
    display: none;
    flex-direction: row;
    border-radius: 0;
    position: fixed;
    top: 11%;
    left: 0%;
    width: 0%;
    overflow: hidden;
    transition-duration: 1s;
    background: #F44336;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    white-space: normal; 

  }
  #closeButton{
    padding: 5px;
    width: 25%;
    text-align: center;
    margin: auto 7% auto auto;
    border-radius: 5px;
  }
  #closeButton:hover{
      cursor: pointer;
  }
  .formErr{
      margin-left: 7%;
        color: tomato;
    }


    
@media only screen and (max-width: 1920px) {

   .newProject{
       width: 30%;
       margin-left: -15%;
   }
  }
  