<div
class="confirmation"
data-cy="appConfirmation"
>
<div>
    <img src="/assets/images/ok.png">
  </div>
  <p>  {{respons}}
  </p>
</div>
<div class="error" data-cy="appError">
Got an error while adding the Project: {{ errorMessage }}
</div>

<section class="hi">
  <form class="newProject" [formGroup]="project" (ngSubmit)='onSubmit(workersToAdd)'>
    <div class="headerNewP">
        <p class="tittle">project maken</p>
  
    </div>
    <div class="contentDiv firstPane">
    <input matInput placeholder="Project Naam"
    aria-label="name"
    type="text" #newprojectname formControlName="name"
    required data-cy="projectNameInput"
    />
    <p class="formErr"
    *ngIf="project.get('name')['errors'] && 
      project.get('name').touched"
  >
        Is Required
    </p>
    </div>
    <div class="secondPane">  
        <p class="selectedEmplys" #workersToAdd data-workers=""></p>
        <div class="contentDiv">
            <div class="list">
            <p class="listT">Medewerkers Toevoegen</p>
            <div  *ngIf="employees$ | async as employees" class="workersLayer">
                <div class="worker" *ngFor="let worker of employees" data-cy="workerNewProject">
                    <img *ngIf="worker.gender === 'Man'; else elseBlock" src="/assets/images/icons8-male-user-50.png">
                    <ng-template #elseBlock>  <img #elseBlock src="/assets/images/icons8-female-profile-50.png"></ng-template>
                    <p>{{worker.name}}</p>
                    <p class="workerid" >{{worker.id}}</p>
                </div>      
            </div>
            </div>
            <div class="btns">
                <button id="addPButton"
                [disabled]="!project.valid" type="submit" mat-raised-button data-cy="newProjectButton">
                    Maak
                </button>
                <p id="closeButton" class="closeB" (click)="closeNewProjectFrame()" >
                    Annuleren
                </p>

            </div>
           
        </div>
      
    </div>
</form>

</section>
