
.dashboardProject{
    background:url('/assets/images/dashback.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
    overflow: hidden;
    font-family: 'Comfortaa', 'Calibri';
  }
  .flexCol{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
  }
  .headDash{
    width: 100%;
    height: 5%;
  }
  .midDash{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    z-index: 5;
  }
  .bigGraphDash{
    width: 98%;
    height: 50%;
    background: rgba(0, 0, 0, 0);
    border-radius: 10px;
    position: relative;
   /* box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);*/
  
  }
  .graphDash{
    width: 100%;
    height: 50%;
  }
  .dashfloatPane{
    width: 20%;
    background: #F1F2F8;
    height: 90%;
    right: 1%;
    margin: 3% 0% auto auto;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
    z-index: 5;
    position: relative;
  }
  
  .titleDash{
    display: flex;
    flex-direction: row;
    margin: 0 0 0 2%;
    font-size: 1.2em;
    color: white;
  }
  .titleDash img{
    width: 25px;
    height: 25px;
    margin: auto 5px auto 0;
  }
  .firstpaneDash{
    width: 100%;
    height: 25%;
    margin-top: 0%;
  }
  .infoDash{
    display: flex;
    flex-direction: row;
    margin: 0% auto 3% auto;
    background: white;
    border-radius: 10px;
    height: 27%;
    width: 90%;
    user-select: none;
  }
  .infoDash p{
    margin: 0 0 0 0;
  }
  .infoDash div{
    display: flex;
    flex-direction: column;
    margin: auto 0 auto 2%;
  }
  
  .infoDash div p:nth-child(2){
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.774);
  }
  .infoDash img{
    width: 30px;
    height: 30px;
    margin: auto 1% auto 4%;
  }
  .CircleGraph{
    background: white;
    width: 45%;
    height: 90%;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  z-index: 2;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(0,0,0);
  background: linear-gradient(121deg, rgba(0,0,0,1) 0%, rgba(9,9,9,1) 45%, rgba(19,19,19,1) 72%, rgba(26,26,26,1) 100%);
    
  }
  .medewerkersLayer{
    background: #009D55;
    background: rgb(0,157,85);
  background: linear-gradient(121deg, rgba(0,157,85,1) 0%, rgba(0,150,98,1) 45%, rgba(0,143,109,1) 72%, rgba(0,136,118,1) 100%);
    width: 45%;
    height: 90%;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  
    border-radius: 20px;
    overflow: hidden;
  }
  .filesLayer{
    background: #F1F2F8;
    width: 40%;
    height: 80%;
    margin: auto auto auto auto;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.55);
  
    border-radius: 20px;
    overflow: hidden;
  }
  .filesHead{
    display: flex;
    flex-direction: row;
    height: 10%;
    margin: 4% 0 0 4%;
    position: relative;
    color: black;
    justify-content: center;
  }
  .filesHead img{
    width: auto;
    height: 25px;
    display: flex;
    margin-right: 5px;
  }
  .filesHead p{
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    height: fit-content;
    margin: auto auto auto 0;
  }
  .filesLayer .file{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 22%;
    background: #FFFFFF;
    margin: 0% 0 2% 0;
    border-radius: 10px;
    min-height: 28%;
    justify-content: space-between;
    width: 95%;
    user-select: none;
    transition-duration: 0.5s;
  }
  .filesList{
    width: 92%;
    height: 70%;
    margin: 5% auto 0% auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transition-duration: 0.5s;
  }   
    /* Handle */
    .filesList::-webkit-scrollbar-thumb {
      background: white;
    }
    
  .circleGrapgIntro{
    display: flex;
    flex-direction: row;  
    height: 10%;
    margin: 2% 0 0 4%;
  }
  
  .circleGrapgIntro img{
    width: 30px;
    height: 30px;
    margin: auto 0 auto 0;
  }
  .circleGrapgIntro p{
    margin: auto 0 auto 1%;
    font-size:  0.9em;
    color: white;
  }
  .circleGraphContent{
    width: 40%;
    height: 80%;
  }
  .circleGraphContent p{
    font-weight: 700;
    font-size: 1.1em;
    margin: 10% 0 0 12%;
    text-align: left;
    color: white;
  }
  .pie {
    display: inline-block;
    width:  10em;
    height: 10em;
    border-radius: 50%;
    margin: 15% 0 0 7%;
    border: .15em solid rgba(255, 255, 255, 0);
    box-shadow: 0 .075em .2em .05em rgba(0,0,0,.25);
    background-origin: border-box; 
    background-image: conic-gradient(
      #3C84E2 0 calc(3.6deg * var(--segment1)),
      #fc3  calc(3.6deg * var(--segment1)) calc(3.6deg * var(--segment2)) ,
      #E55237 calc(3.6deg * var(--segment2))  calc(3.6deg * var(--segment3)),
      #009D55 0 
    );
  }
  
  .circleGraphLegend{
    width: 60%;
    height: 100%;
    color: white;
  }
  .topCircleLegend{
    display: flex;
    flex-direction: row;
    font-weight: 700;
    text-align: left;
    justify-content: space-between;
    margin-right: 0%;
    width: 90%;
    margin-top: 1%;
  }
  .circleContentLegend{
    width: 80%;
    margin-left: 6%;
  }
  .circleBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    
  }
  .cLegend{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 9% 0 0;
    position: relative;
  }
  .cLegend p{
    margin: auto 0 auto 0%;
  }
  .cLegend div{
    display: flex;
    flex-direction: row;
  }
  .cLegend div p{
    margin: 0 0 0;
  }
  .legendColor{
    background: #009D55;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -7%;
    top: 30%;
    border-radius: 100%;
  }
  .cLegend:nth-child(1) .legendColor{
    background: #3C84E2;
  }
  .cLegend:nth-child(2) .legendColor{
    background: #fc3;
  }
  .cLegend:nth-child(3) .legendColor{
    background: #E55237;
  }
  .chart {
    background: rgba(255, 255, 255, 0);
    width: 100%;
    height: 100%;
    border-left: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
   padding-bottom: 130px;
  left: -50%;
  position: absolute;
  }
  #curve_chart{
    position: absolute;
    bottom: 12%;
    left: -18%;
    z-index: 1;
  z-index: 1;
  }
  .legend{
    position: absolute;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    top: 4%;
    left: 0%;
    text-shadow: black 0px 1px 5px;
    margin: 1% 0 0 3%;
  }
  #customShadow   {
    filter:
  
    drop-shadow(2px 2px 5px rgb(0,0,0,0.2))
    drop-shadow(7px 7px 15px rgb(0, 0, 0,2))
  
    drop-shadow(30px 30px 15px rgb(0, 0, 0,2))
    drop-shadow(20px 20px 15px rgb(0, 0, 0,2))
  
    drop-shadow(25px 25px 15px rgb(0, 0, 0,0.2))
    drop-shadow(30px 30px 15px rgb(0, 0, 0,0.2))
    drop-shadow(35px 35px 15px rgb(0, 0, 0,0.2))
    drop-shadow(40px 40px 15px rgb(0, 0, 0,0.2))
    drop-shadow(50px 50px 15px rgb(0, 0, 0,0.2))
    drop-shadow(60px 60px 15px rgb(0, 0, 0,0.1))
    drop-shadow(70px 70px 15px rgb(0, 0, 0,0.1))
    drop-shadow(80px 80px 15px rgb(0, 0, 0,0.1))
  
    ;
    position: absolute;
    left :-3%;
    top:  -2%;
  z-index: 0;
  transform: scale(1.35);
  
  }
    .workersIntro{
      display: flex;
      flex-direction: row;
      height: 10%;
      margin: 2% 0 0 4%;
      position: relative;
      justify-content: center;
    }
    .workersIntro img{
      width: 32px;
      height: 35px;
      margin-right: 5px;
    }
    .workersIntro p{
      font-size: 0.9em;
      color: white;
      font-weight: 600;
      margin-right: auto;
    }
    .workersList{
      width: 92%;
      height: 70%;
      margin: 5% auto 0% auto;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      transition-duration: 0.5s;
    }
    /* width */
  ::-webkit-scrollbar {
    width: 5px;
    margin-left: 2%;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: black;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
    .worker{
      display: flex;
      flex-direction: row;
      overflow: hidden;
      height: 22%;
      background: black;
      margin: 0% 0 2% 0;
      border-radius: 10px;
      min-height: 28%;
      justify-content: space-between;
      width: 95%;
      user-select: none;
      transition-duration: 0.5s;
    }
    .flexRow{
      display: flex;
      flex-direction: row;
    }
    .worker > img{
      width: 40px;
      opacity: 0.9;
      height: 40px;
      margin: auto 2% auto 0;

    }
    .worker .optionWorker{
      width: 30px;
      opacity: 0.9;
      height: 30px;
      margin: auto 2% auto 0;
      background: url('/assets/images/icons8-menu-vertical-90.png');
      background-size: cover;
    }
    .worker .optionWorker:hover{
      cursor: pointer;
      background: url('/assets/images/delWorker.png');
      transition-duration: 0.5s;
      background-size: cover;
    }
    .worker div{
      width: 80%;
    }
    .worker div p{
      margin: auto 0 auto 0;
      font-weight: 700;
      color: white;
    }
    .worker div img{
      width: 45px;
      height: 45px;
      margin: auto 2% auto 2%;
    }
    #addFile{
      background: white;
      color: #F1F2F8;
      position: absolute;
      right: 4.9%;
      top: 2%;
      font-size: 2.5em;
      margin: 0 0 0 0;
      width: 35px;
      height: 35px;
      border-radius: 100%;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
    
    }
  #addWorker{
    background: white;
    color: #009D55;
    position: absolute;
    right: 4.9%;
    top: 2%;
    font-size: 2.5em;
    margin: 0 0 0 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
  
  }
  #backWorker{
    color: #009D55;
    position: absolute;
    right: 4.9%;
    top: 2%;
    margin: 0 0 0 0;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: none;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
  }
  #addWorker:hover, #backWorker:hover{
    cursor: pointer;
  }
  #addWorker img{
    color: #009D55;
    margin: auto auto auto auto;
    position: absolute;
  user-select: none;
  width: 100%;
  height: 100%;
  }
  .secondPaneDash{
    background: linear-gradient(121deg, rgba(0,0,0,1) 0%, rgba(9,9,9,1) 45%, rgba(19,19,19,1) 72%, rgba(26,26,26,1) 100%);
    background: #f1f1f1;
    height: 46%;
    width: 90%;
    margin: auto auto auto auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
  }
  
  .secondPaneDash::-webkit-scrollbar {
    width: 0px;
    margin-left: 8%;
    height: 95%;
  }
  
  /* Track */
  .secondPaneDash::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
  }
  
  /* Handle */
  .secondPaneDash::-webkit-scrollbar-thumb {
    background: #3C84E2;
    width: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .task{
    background: #3C84E2;
    width: 99%;
    height: 18%;
    min-height: 25%;
    margin: 1% auto 4% 1%;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .task:hover{
    cursor: pointer;
  }
  .task p{
    width: 60%;
    font-size: 1.1em;
    font-weight: 600;
    margin: 2% 2% auto 3%;
    color: white;
  }
  .task .status{
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 4% 2% 0 auto;
  height: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
  }
  .task .status p{
    font-size: 0.7em;
    font-weight: 700;
    width: 90%;
    text-align: center;
    color: white;
  
  }
  .task img{
    width: 25px;
    height: 25px;
    margin: 10% auto 6% auto;
  }
  .floatTitle{
    display: flex;
    flex-direction: row;
    height: 3%;
    margin: 6% 0 6% 5%;
    align-items: center;
  }
  .floatTitle img{
    width: 25px;
    height: 25px;
    /* margin: auto 2% auto 0; */
    margin-right: 5px;
  
  }
  .floatTitle p{

  }
  .addAWorker{
    width: 92%;
    height: 70%;
    margin: 4% auto auto auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .disponibleWorkers{
  height: 90%;
  }
  .disponibleWorkers .worker{
    background: #fc3;
    color: black;
  }
  
  .disponibleWorkers .worker div p{
    color: black;
  }
  .greenPlus{
    font-size: 3em;
    margin: 0 2% 0 0;
    color: rgb(5, 129, 71);
    text-shadow: rgba(0, 0, 0, 0.219) 0 1px 5px ;
  }
  .greenPlus:hover{
    transition-duration: 0.5s;
    color: white;
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .workerOnP{
    background: rgb(255, 255, 255);
  
    width: 28px;
    height: 28px;
    overflow: hidden;
    display: flex;
  margin-right: 3%;
    border-radius: 100%;
  
  }
  .workersOnP{
    top: 50%;
    left: 4%;
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
  }
  .workerOnP p {
    line-height: 2.3em;
    font-weight: 600;
    width: 100%;
    font-size: 0.8em;
    text-align: center;
    color: #000000;
  }
  .footerTasks{
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    justify-content: space-around;}
  .footerTasks div{
    width: 20%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border-radius: 5px;
  
  }
  
  
  .footerTasks div p:nth-child(1){
    font-size: 1.4em;
    margin: 5% auto 3% auto;
    text-align: center;
    font-weight: 700;
    color: #3C84E2;
  }
  .footerTasks div p:nth-child(2){
    font-size: 0.7em;
    line-height: 0.5em;
    margin: 0 auto 20% auto;
    text-align: center;
    font-weight: 600;
    color: black;
  
  }
  .taskFrame{
    background: black;
    position: absolute;
    width:0%;
    height: 60%;
    top: 38%;
    box-shadow: -15px -0px 15px 0px rgba(0,0,0,0.45);
    transition-duration: 0.5s;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    transition-duration: 0.5s;
    border: 2px solid #f1f1f1;
    border-right: 0px solid white;
    right: 98%;
    display: flex;
    flex-direction: column;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);}
  .introTF{
    width: 100%;
    margin: 0% 0 0 0;
    height: 15%;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
  }
  .contentTF{
    height: 85%;
    width: 100%;
  }
  .introTF div {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
  }
  .introTF div img{
    width: 35px;
    margin: auto 0 auto 4%;
    height: 40px;
  }
  .introTF div p{
    margin: auto 0 auto 2%;
    font-size: 1.2em;
  }
  #closeTF{
    color: white;
    font-size: 5em;
    line-height: 0.6em;
    margin: 0 4% 0 0;
    user-select: none;
  }
  #closeTF:hover{
    cursor: pointer;
  }
  .workersOnTask{
    display: flex;
    flex-direction: row;
    height: 14%;
    margin-left: 3%;
    margin-top: 2%;
  }
  .workerOnT{
    font-weight: 600;
    width: 100%;
    text-align: center;
    color: #000000;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-left: 2%;
    margin-top: 2%;
    user-select: none;
  }
  .workerOnT p{
    margin: 0 0 0 0;
    line-height: 2.2em;
    font-size: 0.9em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .workerOnT .tooltiptext {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.63);
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-size: 0.9em;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    margin-top: 2%;
    z-index: 1;
  }
  .workerOnT:hover .tooltiptext {
    visibility: visible;
    cursor: pointer;
  }
  .state{  
    margin-left: 5%;
    width: 30%;
    padding: 2px;
    font-size: 0.8em;
    font-weight: 500;
    border-radius: 10px;
    margin-top: 1%;
    line-height: 1.5em;
    text-align: center;
    user-select: none;
  }
  .done{
    background: #009D55;
    color: white;
  }
  .notDone{
    background: #E55237;
    color: white;
  }
  .taskComments{
    background: #f1f1f1;
    height: 50%;
    width: 91%;
    margin: 4% auto 0 auto;
    overflow-y: scroll;
  }
  .taskComments::-webkit-scrollbar-thumb {
    background: #009D55 ;
  }
  .comment{
    width: 100%;
    background: #3C84E2;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .comment > p{
    color: white;
    margin: 2% 2% 2% 2%;
    font-size: 0.9em;
  }
  .deleteButton{
    display: flex;
    flex-direction: row;
    background: rgb(229, 55, 55);
    height: 15%;
    padding: 1px;
    width: 20%;
    border-radius: 10px;
    user-select: none;
    border: 1px solid rgb(229, 55, 55);
  }
  .deleteButton:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    transform: scale(1.05);
    border: 1px solid white;
  }
  .deleteButton img{
    width: 20px;
    height: 20px;
    margin: auto 0% auto 2%;
    opacity: 0.5;
  }
  .deleteButton p{
    margin: auto 0% auto 5%;
    font-size: 0.9em;
    color: white;
  }
  .statusBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
  
  }
  .cIntro{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
  }
  .cIntro p{
    color: rgba(255, 255, 255, 0.945);
    font-size: 0.8em;
    margin: 2% 2% 2% 2%;
  }
  .initials{
    background: white;
    font-size: 0.8em;
    font-weight: 600;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 2.1em;
    border-radius: 100%;
    margin-left: 2%;
    
  }
  .addCommentB{
    background: #fc3;
    color: black;
    width: 30%;
    margin: 5% 0 0 0%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    border: 2px solid #fc3;
  }
  .addCommentB:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: rgba(255, 204, 51, 0.76);
  }
  .addCommentB img{
    width: 20px;
    height: 20px;
    margin: auto 2% auto 2%;
  }
  .addCommentB p{
    margin: auto 0 auto 0;
    text-align: center;
    user-select: none;
    font-weight: 700;
  }
  .addACommentFrame{
    width: 0%;
    height: 100%;
    background: #f1f1f1;
    position: absolute;
    right: 99%;
    z-index: -2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: -15px -0px 15px 0px rgba(0,0,0,0.45);
    border: 1px solid #f1f1f1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 0.3s;
  }
  .introNCF{
    display: flex;
    flex-direction: row;
    margin: 3% 0 0 3%;
    user-select: none;
  }
  .introNCF img{
    width: 35px;
    height: 35px;
    margin: 0 1% 0 0;
  }
  .addACommentFrame textarea{
    width: 90%;
    height: 60%;
    margin: 5% auto 0 4%;
    resize: none;
    border: 1px solid black;
  }
  .addACommentFrame button{
    width: 32%;
    margin: 9% 0 0 4%;
    border-radius: 15px;
    background:black;
    color: #fc3;
    font-weight: 700;
    font-family: 'Comfortaa','Calibri';
    padding: 5px;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
  }
  
  .addACommentFrame button img{
    width: 20px;
    height: 20px;
    margin: 0 2% 0 2%;
  }
  .addACommentFrame button p {
    margin: 0 auto 0 10%;
  }
  .addACommentFrame button:hover{
    transition-duration: 0.5s;
    cursor: pointer;
    border: 2px solid #fc3;
  }
  .addACommentFrame button:focus, textarea:focus {outline:0;}
  .closeNCF{
    position: absolute;
    color: black;
    font-size: 5em;
    margin: 0 0 0 0;
    right: 6%;
    top: -5%;
  }
  .closeNCF:hover{
    cursor: pointer;
  }
  .ovfh{
    overflow: hidden;
    height: 100%;
  }
  .stateChanger{
    background: rgb(0, 0, 0);
    width: 25%;
    display: flex;
    background: #E55237;
    color: white;
    width: 30%;
    margin: 5% 0 0 5%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    border: 2px solid #E55237;
  }
  .timeSpent{
    background: rgb(0, 0, 0);
    width: 25%;
    display: flex;
    background: #E55237;
    color: white;
    width: 30%;
    margin: 5% 0 0 5%;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    display: flex;
    border: 2px solid #E55237;
    user-select: none;
  }
  .timeSpent p{
    margin: auto 0 auto 0;
    text-align: center;
    user-select: none;
    font-weight: 700;
    font-size: 0.8em;
  }
  .timeSpent img{
    height: 20px;
    width: 20px;
    margin: auto 5% auto 2%;
  }
  .stateChanger p{
    margin: auto 0 auto 0;
    text-align: center;
    user-select: none;
    font-weight: 700;
  }
  
  .stateChanger img{
    height: 20px;
    width: 20px;
    margin: auto 5% auto 2%;
  }
  .stateChanger:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
  }
  .btnsNCF{
    display: flex;
    flex-direction: row;
    width: 91%;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  #closeDash{
    position: absolute;
    right: 1%;
    top: 1%;
    width: 40px;
    height: 40px;
  }
  #closeDash:hover{
      cursor: pointer;
  }
  .hide{
    display: none;
  }
  .confirmationDash{
    position: fixed;
    right: -1%;
    top: 10%;
    height: 40px;
    padding: 5px;
    width: 0%;
    display: none;
    font-size: 1.2em;
    background: #28B19E;
    color: white;
    transition-duration: 1s;
    display: flex;
    flex-direction: row;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    overflow: hidden;
    z-index: 250;
  }
  .confirmationDash p {
      margin: auto 0 auto 0;
      font-family: 'Comfortaa', cursive;

  }
  .confirmationDash img{
    width: 35px;
    height: 35px;
    padding: 0;
    margin: auto auto auto auto;
    display: block;
  
  }
  .confirmationDash div{
    background: rgba(255, 255, 255, 0);
    margin-right: 2%;
  }

  .errorDash{
    transition-duration: 1s;
    display: none;
    flex-direction: row;
    border-radius: 0;
    position: fixed;
    top: 11%;
    left: 0%;
    width: 0%;
    overflow: hidden;
    transition-duration: 1s;
    background: #F44336;
    color: white;
    font-family: 'Comfortaa', cursive;
    padding: 5px;
    white-space: normal; 
    z-index: 250;
  }
  .addTask{
    display: flex;
    background: rgba(0, 157, 84, 0);
    width: 40%;
    min-width: 32%;
    padding: 2px;
    border-radius: 2px;
    position: absolute;
    right: 5%;
    border: 2px solid #009D55;
  }
  .addTask:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background: rgba(255, 255, 255, 0.418);
  
  }
  .addTask img{
    width: 28px;
    height: 28px;
    margin: auto auto auto auto;
}


  
  .addTask p{
    width: max-content;
    margin: 0 0 0 0;
    color: #009D55;
    font-size: 0.7em;
    font-weight: 700;
    height: auto;
    margin: auto auto 4% auto;
  }
  .newTaskFrame{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .totaalUren{
    position: absolute;
    right: 3%;
    top: 3%;
    color: white;
  }

  @media only screen and (max-width: 1920px) {

    .dashfloatPane{
      width: 25%;
   
      margin: 4% 0% auto 0;
 
    }

    .medewerkersLayer{
     width: 52%;
      
      margin: auto auto 0 auto;
  
    }
    .CircleGraph{
      width: 40%;
      margin: auto 0 0 2%;
    }
    .circleGraphContent p{
    
      margin: 18% 0 0 12%;

    }
    .topCircleLegend{
    
      margin-top: 7%;
    }

   }
   


   @media only screen and (max-width: 1440px) {

    .pie{
      width: 8em;
      height: 8em;
    }
    .circleGraphContent p{
    
      margin: 20% 0 0 12%;

    }
    .medewerkersLayer{
      width: 52%;
      margin: auto auto auto auto;
      height: 80%;
     }
     .task p{
       font-size: 0.9em;
     }
     .taskFrame{
       font-size: 0.8em;
     }
     .btnsNCF{
       margin-top: 4%;
     }
     .addACommentFrame button{
       margin-top: 15%;
     }
     .addACommentFrame p{
      margin: auto auto auto auto;
    }
    .closeNCF{
      margin-top: 3%;
    }
   }
   @media only screen and (max-width: 1000px) {

    .CircleGraph{
      font-size: 0.8em;
      height: 80%;
      margin: auto auto auto auto;
    }
    .legendColor{
      width: 4px;
      height: 4px;
    }
    .medewerkersLayer{
      height: 75%;
    }
    #addWorker{
      width: 25px;
    height: 25px;
    }
    .workersIntro img{
      width: 25px;
      height: 27px;
    }
    .worker{
      height: 29%;
    }
    .worker img{
      width: 35px;
      height: 35px;
    }
    .infoDash img{
      width: 30px;
      height: 30px;
    }
    .addTask p{
      font-size: 0.6em;
    }
    .addTask img{
      width: 20px;
      height: 20px;
    }
    .task p{
      font-size: 0.7em;
    }
    
    .workerOnP{
      width: 20px;
      height: 20px;
    }
    .workerOnp p{
      line-height: 1.8em;
    }
    .task img{
      width: 20px;
      height: 20px;
    }
    .workerOnT {
      width: 20px;
      height: 20px;
    }
  
    .btnsNCF{
      margin-top: 0%;
    }
    .timeSpent{
      width: 40%;
    }
    .addCommentB{
      width: 40%;
    }
    .deleteButton{
      width: 30%;
    }
    .task .status{
      width: 28%;
    }
   }