<section class="dashboardProject"  *ngIf="project" >
  <div
class="confirmationDash"
data-cy="appConfirmation"
>
<div>
    <img src="/assets/images/ok.png">
  </div>
  <p>  
  </p>
</div>
<div class="errorDash" data-cy="appError">
</div>
<app-new-task class="newTaskFrame"  [employees]="project" ></app-new-task>

    <div class="flexCol">
        <img src="assets/images/close.png" id="closeDash" (click)="closeDashBoard()">
      <div class="headDash">
        <div class="titleDash">
          <img src="assets/images/graph.png" >
          <p >{{project.name}} Dashboard</p>
        </div>
      </div>
      <div class="midDash" > 
        <div class="filesLayer">
          <div class="filesHead">
          <img src="assets/images/attachment.png">
          <p>Attachments</p>
          <div id="addFile" data-cy="addFile" (click)="showWorkersFrame()" *ngIf="isManager()">
          <img src="assets/images/plus.png">
          </div>
          <img src="assets/images/icons8-back-arrow-100 (1).png" id="backWorker"  (click)="showWorkersOnTheProject()">
          </div>
          <div class="filesList" >

            <div data-cy="workersOnP" class="file" *ngFor="let worker of project.employees; trackBy:identify">
              <div class="flexRow">
                
                <img *ngIf="worker.gender === 'Man'; else elseBlock" src="/assets/images/icons8-male-user-50.png">
                <ng-template #elseBlock>  <img #elseBlock src="/assets/images/icons8-female-profile-50.png"></ng-template>
                <p>{{worker.name}}</p>
              </div>
           
              <div class="optionWorker" (click)="removeEmployee(worker.id)"></div>
            </div>
          </div>
        </div>
        <div class="medewerkersLayer">
          <div class="workersIntro">
          <img src="assets/images/icons8-team-96.png">
          <p>Medewerkers</p>
          <div id="addWorker" data-cy="addWorker" (click)="showWorkersFrame()" *ngIf="isManager()">
          <img src="assets/images/plus.png">
          </div>
          <img src="assets/images/icons8-back-arrow-100 (1).png" id="backWorker"  (click)="showWorkersOnTheProject()">
          </div>
          <div class="workersList" >

            <div data-cy="workersOnP" class="worker" *ngFor="let worker of project.employees; trackBy:identify">
              <div class="flexRow">
                
                <img *ngIf="worker.gender === 'Man'; else elseBlock" src="/assets/images/icons8-male-user-50.png">
                <ng-template #elseBlock>  <img #elseBlock src="/assets/images/icons8-female-profile-50.png"></ng-template>
                <p>{{worker.name}}</p>
              </div>
           
              <div class="optionWorker" (click)="removeEmployee(worker.id)"></div>
            </div>
         
          </div>
          <div class="addAWorker" >
            <div class="disponibleWorkers" *ngIf="employees$" >

              <div class="worker" *ngFor="let worker of employees$" >
                <div class="flexRow">
                  <img src="assets/images/icons8-male-user-50.png">
                  <p>{{worker.name}}</p>
                </div>
             
                <img class="greenPlus" src="assets/images/addW.png" data-cy="workerToAdd" (click)="addWorker(worker.id)">
              </div>
            </div>
            
          </div>
        </div>
      </div>
    
    </div>

    <div class="dashfloatPane">
      <div class="floatTitle">
        <img src="assets/images/icons8-info-96.png">
        <p>Project Informatie</p>

      </div>
      <div class="firstpaneDash">
        <div class="infoDash">
          <img src="assets/images/icons8-user-100.png">

          <div>
            <p>{{project.manager.name}}</p>
            <p>Manager</p>

          </div>
        </div>
 
        <div class="infoDash">
          <img src="assets/images/teamCol.png">

          <div>
            <p>{{project.employees.length}}</p>
            <p>Aantal medewerkers op het project</p>

          </div>
        </div>
        <div class="infoDash">
          <img src="assets/images/icons8-maintenance-date-100.png">

          <div>
            <p>{{project.creationDate  | date:'longDate'}}</p>
            <p>Project gemaakt op</p>

          </div>
        </div>
      </div>
      <div class="floatTitle">
        <img src="assets/images/icons8-tasks-96.png">
        <p>Opdrachten</p>
        <div class="addTask" (click)="openNewTaskFrame()" *ngIf="isManager()" data-cy="addTask">
          <p>Opdracht Maken</p>
          <img src="assets/images/plus.png">
        </div>
      </div>
      <div class="secondPaneDash">

        <div *ngFor="let task of project.tasks" class="task" (click)="openTaskFrame(task)" data-cy="task">
          <p>{{task.titel}}</p>
          
            <div *ngIf="task.state == 1; else elseStatus" class="status done"> 
              <img src="assets/images/icons8-check-all-100.png">
              <p>Done</p>
            </div>
            <ng-template #elseStatus>
              <div #elseStatus class="status notDone"> 
                <img src="assets/images/icons8-future-100.png">
                <p>Processing</p>
              </div>
            </ng-template>

            
          
          <div class="workersOnP">
            <div class="workerOnP">
              <p>{{getWorkerOnTaskInitial(task.employee.name)}}</p>
            </div>
          </div>
        </div>

      


      </div>
      <div class="footerTasks">
        <div>
          <p>{{project.tasks.length}}</p>
          <p>Totaal</p>
        </div>

        <div>
          <p>{{getNumberOfTasksDone()}}</p>
          <p>Done</p>
        </div>

        <div>
          <p>{{project.tasks.length - getNumberOfTasksDone()}}</p>
          <p>To Do</p>
        </div>
      </div>

      <div class="taskFrame">
        <div class="ovfh">
          <div class="introTF">
            <div  *ngIf="selectedtask">
              <img src="assets/images/taskswhite.png">
              <p>{{selectedtask.titel}}</p>
            </div>
            <p id="closeTF" (click)="closeTaskFrame()">-</p>
          </div>
          <div class="contentTF">
            <div class="workersOnTask">
              <div class="workerOnT"  *ngIf="selectedtask">
                <p>{{getWorkerOnTaskInitial(selectedtask.employee.name)}}</p>
                <span class="tooltiptext">{{selectedtask.employee.name}}</span>
              </div>
            </div>
            <div class="statusBar"  *ngIf="selectedtask">
              <p class="state done" *ngIf="selectedtask.state == 1; else elseSate2">Status: Done</p>

            <ng-template #elseSate2>
              <p class="state notDone">Status: Processing</p>
            </ng-template>

              <div class="deleteButton" (click)="deleteTask()" *ngIf="isManager()">
                <img src="assets/images/icons8-delete-128.png">
                <p>delete</p>
              </div>
            </div>
            
            <div class="taskComments"  *ngIf="selectedtask">
  
              <div class="comment"  *ngFor="let comment of selectedtask.comments">
                <div class="cIntro">
                  <div class="initials">
                    {{getWorkerOnTaskInitial(comment.author.name)}}
                  </div>
                  <p>{{comment.author.name}} on {{comment.date | date:'longDate' }}</p>
  
                </div>
                <p>{{comment.text}}</p>
              </div>
  
     
            </div>
            <div class="btnsNCF" *ngIf="selectedtask">
              <div class="addCommentB" (click) ="openCommentFrame()">
                <img src="assets/images/icons8-edit-128.png">
                <p>Comment</p>
              </div>
              <div class="stateChanger" *ngIf="selectedtask.state == 2" (click)="taskFinished()"> 
                <img src="assets/images/icons8-checked-checkbox-100.png">
                  <p>Voltooid</p>
              </div>
              <div class="timeSpent" *ngIf="selectedtask.state == 1">
                <img src="assets/images/icons8-future-100.png">
                <p>Time Spent {{selectedtask.spentTime}}</p>
              </div>
            </div>

          </div>
        </div>
        <div class="addACommentFrame">
          <div class="introNCF">
            <img src="assets/images/icons8-edit-128.png">
            <p>Write a new Comment</p>
          </div>
          <textarea #textarea></textarea>
          
          <button (click)="createComment(textarea)"><img src="assets/images/editY.png"><p>Submit</p></button>
          <div class="closeNCF" (click)="closeCommentFrame()">-</div>
        </div>
      </div>
    </div>
</section>
