.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill1 {
  animation: fill1 ease-in-out 3s;
  transform: rotate(180deg);
}

@keyframes fill1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill2 {
  animation: fill1 ease-in-out 3s;
  transform: rotate(160deg);
}

@keyframes fill2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(160deg);
  }
}

